* {
  margin: 0;
  padding: 0;
}

header {
  padding: 1.5em;
}

nav {
  display: flex;
  justify-content: space-between;
}

#menu-items {
  display: none;
}

#hamburger {
  width: 30px;
}

#sign-up {
  display: grid;
  padding: 2em 0 0 1.5em;
}

.pink-text {
  grid-area: 1 / 1 / 2 / 2;
  display: grid;
  align-items: center;
  font-size: 0.8em;
  color: rgb(238, 47, 155);
}

#baibokas {
  grid-area: 1 / 2 / 4 / 3;
}

#baibokas img {
  width: 170%;
}

#h1 {
  grid-area: 2 / 1 / 3 / 2;
  font-size: 2.2em;
}

.grey-text {
  grid-area: 3 / 1 / 5 / 2;
  color: gray;
}

#button {
  grid-area: 5 / 1 / 6 / 2;
  height: 50px;
  text-align: center;
  border: solid 2px orangered;
  border-radius: 50px;
  width: 60%;
}

#orange {
  background-image: url(assets/background.svg);
  background-position: center;
  margin-top: 70px;
  padding: 2em 1.5em;
}

#orange h2 {
  padding-bottom: 10px;
}

#companies {
  padding: 4em 1.5em;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

#companies img {
  max-width: 100%;
}

#auction {
  padding: 1.5em;
}

#auction h2 {
  padding-bottom: 10px;
}

#auction a {
  color: gray;
}

#gallery {
  padding: 1.5em;
  display: flex;
  gap: 30px;
}

.gallery-card {
  width: 290px;
  align-items: center;
  background-color: rgb(241, 240, 240);
  border-radius: 5%;
}

.description {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 15px;
}

.series {
  color: orangered;
  font-size: 0.85em;
  padding: 3px;
}

.bid {
  color: rgb(102, 101, 101);
  font-size: 0.85em;
  text-align: end;
  padding: 3px;
}

.name,
.price {
  font-size: 1.5em;
  padding: 3px;
}

.price,
.time {
  text-align: end;
}

.price::before {
  content: url(assets/eth.svg);
  padding: 0 8px 0 0;
}

.number,
.time {
  font-size: 1.3em;
  color: rgb(102, 101, 101);
}

#sign-up-2 {
  padding: 1.5em;
  display: grid;
}

.pink-text-2 {
  grid-area: 1 / 1 / 2 / 3;
  display: grid;
  align-items: center;
  font-size: 0.8em;
  color: rgb(238, 47, 155);
}

#title {
  grid-area: 2 / 1 / 5 / 3;
  font-size: 3em;
  font-weight: 600;
}

#grey-text-2 {
  grid-area: 5 / 1 / 7 / 3;
  color: gray;
}

#green-nft-item {
  grid-area: 3 / 3 / 9 / 4;
}

#green-nft-item img {
  width: 220%;
}

#button-2 {
  grid-area: 7 / 1 / 8 / 3;
  height: 50px;
  text-align: center;
  border: solid 2px orangered;
  border-radius: 50px;
  width: 60%;
  background-color: white;
}

#media {
  padding: 1.5em;
}

#logo-1 {
  width: 40%;
  padding-bottom: 20px;
}

#media div:nth-child(2) {
  color: gray;
  padding-bottom: 20px;
}

#media-icons {
  display: flex;
  width: 15px;
  gap: 10px;
}

table {
  color: gray;
  text-align: left;
}

th,
td {
  width: 50%;
  padding: 0 20px 15px 1.5em;
}

footer div {
  color: gray;
  padding: 3em 1.5em;
}
